<extend name="Layout:common"/>
<block name="title">
    <title>ECSHOP 管理中心 - 添加权限 </title>
    <link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
    <style type="text/css">
        ul.ztree{
            margin-top: 10px;
            border: 1px solid #617775;
            background: #f0f6e4;
            width: 220px;
            overflow-y: scroll;
            overflow-x: auto;
        }
    </style>
</block>
<block name="main">
<h1>
    <span class="action-span"><a href="{:U('index')}">权限列表</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加权限 </span>
</h1>
<div style="clear:both"></div>
<div class="main-div">
    <form method="post" action="{:U()}"enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">权限名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$row.name}" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">权限网址</td>
                <td>
                    <input type="text" name="path" maxlength="60" size="40" value="{$row.path}" />
                </td>
            </tr>
            <tr>
                <td class="label">父级权限</td>
                <td>
                    <input type="hidden" id="permission_id" name="parent_id"/>
                    <input type="text" disabled="disabled" id="permission_name" class="permission_name"/>
                    <ul id="permissions" class="ztree"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">权限描述</td>
                <td>
                    <textarea  name="intro" cols="60" rows="4" style="resize: none">{$row.intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="40" size="15" value="{$row.sort|default=50}" />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type="radio" name="status" value="1" class="status" /> 是
                    <input type="radio" name="status" class="status" value="0"  />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="hidden" name="id" value="{$row.id}" />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="footer">
共执行 1 个查询，用时 0.018952 秒，Gzip 已禁用，内存占用 2.197 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。
</div>
    <js href='__JS__/jquery.min.js'/>
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core.js"></script>
<script type="text/javascript">
    $('.status').val([{$row.status|default=1}])
    var setting = {
        data: {
            simpleData: {
                enable: true,
                pIdKey: 'parent_id',
            }
        },
//        回调函数，点击了权限后将数据绑定到input
        callback:{
            onClick: function (event,treeId,treeNode) {
                $('#permission_id').val(treeNode.id);
                $('#permission_name').val(treeNode.name);
            }
        }
    };
    //接收传过来的权限数据，json格式的
    var permissions={$permissions};
    var permissions_ztree=$.fn.zTree.init($("#permissions"), setting,permissions);
    permissions_ztree.expandAll(true);
            /////////////回显商品信息/////////////
    <present name="row">
//    <!--根据父级id找到父级节点,回显数据-->
    var parent_node=permissions_ztree.getNodeByParam('id',{$row.parent_id});
//    选中父级节点
    permissions_ztree.selectNode(parent_node);
//    绑定数据
    $('#permission_id').val(parent_node.id);
    $('#permission_name').val(parent_node.name);
    </present>
</script>
</block>