<extend name="Layout:common"/>
<block name="title">
    <title>ECSHOP 管理中心 - 添加菜单 </title>
    <link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
    <style type="text/css">
        ul.ztree{
            margin-top: 10px;
            border: 1px solid #617775;
            background: #f0f6e4;
            width: 220px;
            overflow-y: scroll;
            overflow-x: auto;
        }
    </style>
</block>
<block name="main">
<h1>
    <span class="action-span"><a href="{:U('index')}">菜单列表</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加菜单 </span>
</h1>
<div style="clear:both"></div>
<div class="main-div">
    <form method="post" action="{:U()}"enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">菜单名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$row.name}" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">菜单路径</td>
                <td>
                    <input type="text" name="path" maxlength="60" size="40" value="{$row.path}" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">菜单分类</td>
                <td>
                    <input type="text" name="" disabled="disabled" maxlength="60" id="parent_menu_name" value="" />
                    <input type="hidden" name="parent_id" maxlength="60" id="parent_menu_id" value="" />
                    <ul class="ztree" id="parent_menus"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">菜单权限</td>
                <td>
                    <div id='permission_ids'>

                    </div>
                    <ul id="permissions" class="ztree"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">简介</td>
                <td>
                    <textarea name="intro" style="resize: none">{$row.intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="40" size="15" value="{$row.sort|default=50}" />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type="radio" name="status" value="1" class="status" /> 是
                    <input type="radio" name="status" class="status" value="0"  />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="hidden" name="id" value="{$row.id}" />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="footer">
共执行 1 个查询，用时 0.018952 秒，Gzip 已禁用，内存占用 2.197 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。
</div>
    <js href='__JS__/jquery.min.js'/>
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core.js"></script>
    <!--使用check类型,必须要引入-->
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript">
    ///////////////权限列表展示//////////////
    var permission_setting = {
        data: {
            simpleData: {
                enable: true,
                pIdKey: 'parent_id',
            },
        },
        //            由于一个菜单可能是多权限,因此要用这种展示方式
        check: {
            enable: true,
            chkboxType: {"Y": "s", "N": "s"},
        },
//        回调函数，点击了菜单后将数据绑定到input
        callback:{
            onCheck: function (event,treeId,treeNode) {
                //1.获取所有选中的节点
                var checkNodes=permissions_ztree.getCheckedNodes();
                //2.遍历所有节点,清空隐藏域,添加当前的所有勾选的节点,在div里面放隐藏域
                $('#permission_ids').empty();
                $(checkNodes).each(function (i,v) {
                    var html='<input type="hidden" id="permission_id" name="permission_id[]" value="'+ v.id+'"/>';
                    $('#permission_ids').append(html);
                })
            }
        }
    };
    //接收传过来的菜单数据，json格式的
    var permissions={$permissions};
    var permissions_ztree=$.fn.zTree.init($("#permissions"), permission_setting,permissions);
    permissions_ztree.expandAll(true);
            /////////////回显菜单信息/////////////
    ///回显菜单是否显示
    $('.status').val([{$row.status|default=1}]);
    <present name="row">
       //获取所有的权限id
           var permission_ids={$row.permission_ids};
    //如果当前菜单有权限才去遍历id,将每一个节点选中
    if({$row.permission_ids}){
    $(permission_ids).each(function(i,v){
//            <!--根据父级id找到父级节点,回显数据-->
       var parent_node=permissions_ztree.getNodeByParam('id',v);
        permissions_ztree.checkNode(parent_node,true);
//        同时在div中添加上input标签
        var html='<input type="hidden" id="permission_id" name="permission_id[]" value="'+v+'"/>'
        $('#permission_ids').append(html);
    })};
    </present>
            //////////////菜单分类列表展示///////////
    var menu_setting={
        data:{
            simpleData:{
                enable:true,
                pIdKey: 'parent_id',
            }
        },
        callback:{
          onClick: function (event,treeId,treeNode) {
              $('#parent_menu_name').val(treeNode.name);
              $('#parent_menu_id').val(treeNode.id);
          }
        }
    }
    var menus={$menus};
    var menus_ztree= $.fn.zTree.init($('#parent_menus'),menu_setting,menus);
    menus_ztree.expandAll(true);
    ///////回显菜单选中/////
    <present name='row'>
//                    根据父级id找到父级节点,
    var parentNode=menus_ztree.getNodeByParam('id',{$row.parent_id});
//                    将数据绑定
    $('#parent_menu_name').val(parentNode.name);
    $('#parent_menu_id').val(parentNode.id);
//将节点选中
    menus_ztree.selectNode(parentNode,true);
    </present>
</script>
</block>