<extend name="Layout:index_base"/>
<block name="css">
	<link rel="stylesheet" href="__CSS__/order.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/home.css" type="text/css">

</block>
	<block name="js">
        <script type="text/javascript" src="__JS__/home.js"></script>
	</block>
<block name="content">
	<!-- 页面主体 start -->
	<div class="main w1210 bc mt10">
		<div class="crumb w1210">
			<h2><strong>我的XX </strong><span>> 我的订单</span></h2>
		</div>
		
		<!-- 左侧导航菜单 start -->
		<div class="menu fl">
			<h3>我的XX</h3>
			<div class="menu_wrap">
				<dl>
					<dt>订单中心 <b></b></dt>
					<dd class="cur"><b>.</b><a href="">我的订单</a></dd>
					<dd><b>.</b><a href="">我的关注</a></dd>
					<dd><b>.</b><a href="">浏览历史</a></dd>
					<dd><b>.</b><a href="">我的团购</a></dd>
				</dl>

				<dl>
					<dt>账户中心 <b></b></dt>
					<dd><b>.</b><a href="">账户信息</a></dd>
					<dd><b>.</b><a href="">账户余额</a></dd>
					<dd><b>.</b><a href="">消费记录</a></dd>
					<dd><b>.</b><a href="">我的积分</a></dd>
					<dd><b>.</b><a href="">收货地址</a></dd>
				</dl>

				<dl>
					<dt>订单中心 <b></b></dt>
					<dd><b>.</b><a href="">返修/退换货</a></dd>
					<dd><b>.</b><a href="">取消订单记录</a></dd>
					<dd><b>.</b><a href="">我的投诉</a></dd>
				</dl>
			</div>
		</div>
		<!-- 左侧导航菜单 end -->

		<!-- 右侧内容区域 start -->
		<div class="content fl ml10">
			<div class="order_hd">
				<h3>我的订单</h3>
				<dl>
					<dt>便利提醒：</dt>
					<dd>待付款（0）</dd>
					<dd>待确认收货（0）</dd>
					<dd>待自提（0）</dd>
				</dl>

				<dl>
					<dt>特色服务：</dt>
					<dd><a href="">我的预约</a></dd>
					<dd><a href="">夺宝箱</a></dd>
				</dl>
			</div>

			<div class="order_bd mt10">
				<table class="orders">
					<thead>
						<tr>
							<th width="10%">订单号</th>
							<th width="20%">订单商品</th>
							<th width="10%">收货人</th>
							<th width="20%">订单金额</th>
							<th width="20%">下单时间</th>
							<th width="10%">订单状态</th>
							<th width="10%">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="">852592106</a></td>
							<td><a href=""><img src="__IMG__/order1.jpg" alt="" /></a></td>
							<td>王超平</td>
							<td>￥35.00 货到付款</td>
							<td>2013-11-12 16:28:14</td>
							<td>已取消</td>
							<td><a href="">查看</a> | <a href="">删除</a></td>
						</tr>
						<tr>
							<td><a href="">852571653</a></td>
							<td><a href=""><img src="__IMG__/order2.jpg" alt="" /></a></td>
							<td>王超平</td>
							<td>￥35.00 在线支付</td>
							<td>2013-11-13 19:28:14</td>
							<td>已完成</td>
							<td><a href="">查看</a> | <a href="">删除</a></td>
						</tr>
						<tr>
							<td><a href="">471196680</a></td>
							<td><a href=""><img src="__IMG__/order2.jpg" alt="" /></a></td>
							<td>王超平</td>
							<td>￥169.00 货到付款</td>
							<td>2013-02-20 23:00:00</td>
							<td>已完成</td>
							<td><a href="">查看</a> | <a href="">删除</a></td>
						</tr>
					</tbody> 
				</table>
			</div>
		</div>
		<!-- 右侧内容区域 end -->
	</div>
	<!-- 页面主体 end-->
</block>