<extend name="Layout:Cart_base"/>

<block name="css">
    <link rel="stylesheet" href="__CSS__/success.css" type="text/css">
</block>

<block name="content">
	<!-- 主体部分 start -->
	<div class="success w990 bc mt15">
		<div class="success_hd">
			<h2>订单提交成功</h2>
		</div>
		<div class="success_bd">
			<p><span></span>订单提交成功，我们将及时为您处理</p>
			
			<p class="message">完成支付后，你可以 <a href="{:U('OrderInfo/index')}">查看订单状态</a>  <a href="{:U('Index/index')}">继续购物</a> <a href="{:U('Index/index')}">问题反馈</a></p>
		</div>
	</div>
	<!-- 主体部分 end -->
</block>
	