<extend name="Layout:common"/>
<block name="title">
    <title>ECSHOP 管理中心 - 添加品牌 </title>
</block>
<block name="main">
<h1>
    <span class="action-span"><a href="{:U('index')}">文章列表</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加文章 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form method="post" action="{:U()}"enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">文章名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$name}" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">文章所属分类</td>
                <td>
                    <select name="article_category_id">
                        <volist name="rows" id="row">
                        <option value="{$row.id}" <if condition="($row.id eq $article_category_id)">selected="selected" </if>>{$row.name}</option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="40" size="15" value="{$sort}" />
                </td>
            </tr>
            <tr>
                <td class="label">分类描述</td>
                <td>
                    <textarea  name="intro" cols="60" rows="4"  >{$intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">文章内容</td>
                <td>
                    <textarea  name="content" cols="60" rows="4"  >{$content}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type="radio" name="status" value="1" class="status" /> 是
                    <input type="radio" name="status" value="0"  class="status"/> 否
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="hidden" class="button" name="id" value=" {$id} " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<!--回显编辑时当前品牌是否显示-->
<js href='__JS__/jquery.min.js'/>
<script type="text/javascript">
    $(function(){
        $('.status').val([{$status|default=1}]);
        $('.is_help').val([{$is_help|default=1}])
    })
</script>
<div id="footer">
共执行 1 个查询，用时 0.018952 秒，Gzip 已禁用，内存占用 2.197 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
</block>