<extend name="Layout:common"/>
<block name="title">
    <title>ECSHOP 管理中心 - 添加品牌 </title>
    <css href='__CSS__/page.css'/>
    <css href='__UPLOADIFY__/common.css'/>
</block>
<block name="main">
<h1>
    <span class="action-span"><a href="{:U('index')}">品牌列表</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加品牌 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form method="post" action="{:U()}"enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">品牌名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$name}" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">品牌网站</td>
                <td>
                    <input type="text" name="url" maxlength="60" size="15" value="{$url}" />
                </td>
            </tr>
            <tr>
                <td class="label">品牌LOGO</td>
                <td>
                    <input type="hidden" name="logo" value="{$logo}" id="logo_url"/>
                    <input type="file"  id="logo" size="45" disabled="false"><br/>
                    <span class="notice-span" style="display:block"  id="warn_brandlogo" >请上传图片，做为品牌的LOGO！</span>
                    <img src="{$logo}" id="load_logo" width="100" style="display: none">
                </td>
            </tr>
            <tr>
                <td class="label">品牌描述</td>
                <td>
                    <textarea  name="intro" cols="60" rows="4"  >{$intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="40" size="15" value="{$sort}" />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type="radio" name="status" value="1" class="status" /> 是
                    <input type="radio" name="status" value="0"  class="status"/> 否
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="hidden" class="button" name="id" value=" {$id} " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<!--回显编辑时当前品牌是否显示-->
    <js href='__JS__/jquery-1.11.2.js'/>
    <js href='__UPLOADIFY__/jquery.uploadify.min.js' />
    <js href='__LAYER__/layer.js' />
<script type="text/javascript">
    $(function(){
        $('.status').val([{$status|default=1}]);
        //如果logo变量有值，那么就不显示提示上传的文字
        <present name="logo">

            $('#warn_brandlogo').text('');
        </present>
        $('#logo').uploadify({
            'buttonText':'选择文件',
            'fileObjName':'file_data',
            'swf'  :  '__UPLOADIFY__/uploadify.swf',
            'uploader'  :  '{:U("Upload/upload")}',
//            上传成功后的回调函数
            onUploadSuccess:function(file_node,response){
                var data= $.parseJSON(response);
//                判断上传的状态
                if(data.status){
//                    如果成功则显示出图片，并且将span的文字隐藏
                    $('#load_logo').css('display','block').attr('src',data.file_url);
                    $('#warn_brandlogo').text('');
                    $('#logo_url').val(data.file_url);
                    layer.alert(data.msg,{icon:6});
                }else {
                    layer.alert(data.msg,{icon:5});
                }
            }
        })
    })
</script>
<div id="footer">
共执行 1 个查询，用时 0.018952 秒，Gzip 已禁用，内存占用 2.197 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
</block>