<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 商品品牌 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/general.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
<css href='__CSS__/page.css'/>
</head>
<body>
<h1>
    <span class="action-span"><a href="{:U('add')}">添加分类</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 文章分类 </span>
    <div style="clear:both"></div>
</h1>
<div class="form-div">
    <form action="{:U()}" name="searchForm">
    <img src="__IMG__/icon_search.gif" width="26" height="22" border="0" alt="search" />
    <input type="text" name="name" size="15" value="{:I('get.name')}"/>
    <input type="submit" value=" 搜索 " class="button" />
    </form>
</div>
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>分类名称</th>
                <th>分类描述</th>
                <th>排序</th>
                <th>当前状态</th>
                <th>是否属于帮助文档</th>
                <th>操作</th>
            </tr>
            <foreach name="rows" item="row">
            <tr>
                <td class="first-cell">{$row.name}</td>
                <td align="center">{$row.intro}</td>
                <td align="center">{$row.sort}</td>
                <td align="center"><if condition="($row.status eq 1)"><img src="__IMG__/yes.gif" /><else /><img src="__IMG__/no.gif" alt=""/></if></td>
                <td align="center"><if condition="($row.is_help eq 1)"><img src="__IMG__/yes.gif" /><else /><img src="__IMG__/no.gif" alt=""/></if></td>
                <td align="center">
                <a href="{:U('edit',['id'=>$row['id']])}" title="编辑">编辑</a> |
                <a href="{:U('remove',['id'=>$row['id']])}" title="编辑">移除</a>
                </td>
            </tr>
            </foreach>
            <tr>
                <td align="right" nowrap="true" colspan="6">
                    <div id="turn-page" class='page'>
                        {$page_html}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>

<div id="footer">
共执行 3 个查询，用时 0.021251 秒，Gzip 已禁用，内存占用 2.194 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
</body>
</html>