<extend name="Layout:common"/>
<block name="title">
<title>ECSHOP 管理中心 -管理员列表 </title>
<css href="__TREEGRID__/css/jquery.treegrid.css"/>
<css href='__CSS__/page.css'/>
</block>
<block name="main">
<h1>
    <span class="action-span"><a href="{:U('add')}">添加管理员</a></span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 管理员列表 </span>
</h1>
<div style="clear:both"></div>
<div class="form-div">
    <form action="{:U()}" name="searchForm">
        <img src="__IMG__/icon_search.gif" width="26" height="22" border="0" alt="search" />
        <input type="text" name="name" size="15" value="{:I('get.name')}"/>
        <input type="submit" value=" 搜索 " class="button" />
    </form>
</div>
<!-- 管理员列表 -->
<form method="post" action="" name="listForm" onsubmit="">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1" class="tree">
            <tr>
                <th>管理员名称</th>
                <th>邮箱</th>
                <th>添加时间</th>
                <th>最后登录</th>
                <th>操作</th>
            </tr>
            <foreach name="rows" item="row">
            <tr>
                <td class="first-cell">{$row.username}</td>
                <td align="center">{$row.email}</td>
                <td align="center">{$row.add_time|date="Y-m-d H:m:s",###}</td>
                <td align="center">{$row.last_login_time|date="Y-m-d H:m:s",###}</td>
                <td align="center">
                <a href="{:U('edit','id='.$row['id'])}" title="编辑"><img src="__IMG__/icon_edit.gif" width="16" height="16" border="0" /></a>
                <a href="{:U('remove','id='.$row['id'])}" onclick="" title="回收站"><img src="__IMG__/icon_trash.gif" width="16" height="16" border="0" /></a>
                    <a href="{:U('repassword','id='.$row['id'])}"  title="重置密码"><img src="__IMG__/icon_restart.gif" width="16" height="16" border="0" /></a>
                </td>
            </tr>
            </foreach>
            <tr>
                <td align="right" nowrap="true" colspan="12">
                    <div id="turn-page" class='page'>
                        {$page_html}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>

<div id="footer">
共执行 7 个查询，用时 0.028849 秒，Gzip 已禁用，内存占用 3.219 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。
</div>
    <js href='__JS__/jquery.min.js'/>
    <js href='__TREEGRID__/js/jquery.treegrid.js'/>
    <js href='__LAYER__/layer.js' />
    <script type="text/javascript">
        $(function(){
//            $('.repassword').click(function () {
//                layer.prompt({
//                    formType: 1,
//                    title: '请输入新密码'
//                }, function(value, index, elem){
//                    alert(value); //得到value
//                    layer.close(index);
//                });
//                var password=prompt('请输入新密码');
//                var data={
//                    password:password,
//                };
//                $.getJSON("{:U('repassword')}",data,function (response){
//                    layer.alert(response,{icon:6});
//                })
//
//            });
        })

    </script>
</block>